<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Example App</title>
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/main.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Random Password Generator</a>
    </div>
  </nav>

  <div class="container mt-5">
    {{{ body }}}
  </div>
  <script src="/javascripts/bootstrap.bundle.min.js"></script>
  <script src="/javascripts/Validation.js"></script>
</body>

</html>